body {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
h1{
  padding: 0;
  color: #ff69b4;
  text-align: center;
}
h2 {
  color: #ff69b4;
  text-align: center;
  margin-bottom: 20px;
}

a,button {
  display: block;
  text-align: center;
  margin: 10px auto;
  width: 150px;
  padding: 10px;
  background-color: #66cdaa;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}
.description {
  height: 200px;
  width: 100%;
}
a:hover {
  background-color: #20b2aa;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 30px 60px 30px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



button:hover {
  background-color: #20b2aa;
}

p {
  text-align: center;
  color: #ff0000;
  margin: 10px 0;
}
.header-buttons {
  padding: 0 10px 0 10px;
  display: flex;
  float: left;
  gap: 10px;
}
